<form method="POST">
  <div class="mb-3">
    <input placeholder="Фамилия" name="surname" type="text" class="form-control" required />
  </div>
  <div class="mb-3">
    <input placeholder="Имя" name="name" type="text" class="form-control" required />
  </div>
  <div class="mb-3">
    <input placeholder="Отчество" name="patronymic" type="text" class="form-control" required />
  </div>
  <div class="mb-3">
    <input placeholder="email" name="email" type="email" class="form-control" required />
  </div>
  <div class="mb-3">
    <input placeholder="Номер телефона" name="phone" type="tel" class="form-control" required />
  </div>
  <div class="mb-3">
    <input placeholder="Адрес" name="address" type="text" class="form-control" required />
  </div>
  <button type="submit" class="btn btn-primary">Добавить клиента</button>
</form>

<style>
  body{
    background-color: #efede9;
    background-image: none;
  }
  .btn-primary{
    background-color: #a59d86;
    border-color: #e5e7e5
  }
  
.form-control:focus {
    color: #a59d85;
    background-color: #fff;
    border-color: #a59d85;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(98 105 56 / 25%);
}
.form-control{
  height: 50px;
}
  .container{
    padding-top: 9%;
  }
  form{
    margin: 17%;
    margin-top: -1%;
    max-width: 65%;
    min-height: 103%;
  }
</style>
