<form id="signUpForm" class="short-form" action="/auth/signup" method="POST">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Введите ваше имя</label>
      <input
        name="name"
        required
        type="text"
        class="form-control"
        id="exampleInputName"
        aria-describedby="emailHelp"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ваш email</label>
      <input
        name="email"
        required
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    {{#if flag}}
    <p style="color:red">Эта почта уже используется</p>
    {{/if}}
    </div>


    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        name="password"
        required
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        minlength="1"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary form-control"
      style="margin:30px; width:80px; margin-left:0"
      
    >Submit</button>
  </form>


<style>
  .btn-primary {
    color: #fff;
    background-color: #9a9377;
    border-color: #a29781;
}
.btn-primary:hover {
    color: #fff;
    background-color: #837a62;
    border-color: #e7e7e6;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #948a71;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(154 147 119 / 19%);
}
.container{
      width: 24%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}
</style>
